@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600&family=Oswald:wght@400;600&display=swap');

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
}

/* Hero Section */ 
.hero-section {
	background-image: url(assets/img/hero-bg.jpg);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
    height: 530px;
    display: flex;
    align-items: center;
}
/* End Hero Section */

/* About Section */
.about-section, .social-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.about-section .title, .social-section .title {
    font-family: 'Oswald', sans-serif;
    font-size: 3.3em;
    font-weight: 600;
    text-transform: uppercase;
}

.about-section .card {
    border: none;
}

/* End About Section */

/* Social Section **/
.social-section {
    background-color: black;
    color: white;
}

.social-section a {
    color: white;
    text-decoration: none;
    font-size: 1.8em;
    font-weight: normal;
}

/* End Social Section */