@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600&family=Oswald:wght@400;600&display=swap');

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
}

section {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.title {
    font-family: 'Oswald', sans-serif;
    font-size: 3.3em;
    font-weight: 600;
    text-transform: uppercase;
}

.btn-primary {
    background-color: #f8b864;
    border-color: #f8b864;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
}

.btn-primary:hover {
    background-color: #ffb451;
    border-color: #ffb451;
    color: #fff;
}

/* Navigation */

#mainNav {
    font-family: 'Jost', sans-serif;
}

#mainNav .active {
    font-weight: 600;
}

/* End Navigation */

/* Hero Section */ 
.hero-section {
	background-image: url(assets/img/hero-bg.jpg);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
    height: 530px;
    display: flex;
    align-items: center;
}
/* End Hero Section */

/* About Section */

.about-section .card {
    border: none;
}

/* End About Section */

/* Social Section */
.social-section {
    background-color: black;
    color: white;
}

.social-section a {
    color: white;
    text-decoration: none;
    font-size: 1.8em;
    font-weight: normal;
}

/* End Social Section */


/*Pager header Section */

.pager-header {
    background-image: url(assets/img/events-header.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: top center;
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 300px;
    display: flex;
    align-items: center;
    color: white;
}

/* End Pager header Section */

/* Events Section */

.event-details {
    background-color: #fafafa;
    padding: 30px 15px;
    border: 1px dashed #ddd;
}

.event-details h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
}

.event-info i {
    color: #f8b864;
    margin-right: 10px;
}

.event-info p {
    margin-bottom: 5px;
    font-family: 'Jost', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    color: #999;
}

/* End Events Section */